<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
</head>
<body>
    <div class="navbar">
    </div>
    <section id="about" class="about">
        <h2>Tentang Saya</h2>
        <img src="/assets/about_pp.png" alt="profil">
        <p>
            Saya seorang mahasiswa semester 3 yang sedang menempuh mata kuliah pemrograman website
            <br>
            Saya memiliki beberapa project atau tugas akhir yang sebelumnya sudah saya buat
            <br>
            Jika anda tertarik untuk melihat project saya dan ingin menghubungi saya
        </p>
        <a href="/view/project.html" class="project-btn">My Projects</a>
        <a href="/view/contact.html" class="contact-btn">Contact Me</a>
    </section>
    <footer class="footer"></footer>
</body>
</html>