<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/script/script.js"></script>
</head>
<body>
  <div class="navbar"></div>
  <section class="contact">
    <h2>Kontak Saya</h2>
    <p>Silakan hubungi atau ikuti saya melalui media sosial berikut:</p>
    
    <div class="social-links">
      <a href="https://www.instagram.com/fhrejiagl?igsh=ZGx4enpnZXNyeHdp" target="_blank">Instagram</a>
      <a href="https://github.com/Rezi14" target="_blank">GitHub</a>
      <a href="mailto:242410102039@mail.unej.ac.id">Email</a>
    </div>
  </section>
  <footer class="footer">
  </footer>
</body>
</html>
