<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
</head>
<body>
    <div class="navbar"></div>
    <section class="projects">
        <h2>Project Saya</h2>
        <img src="/assets/project_pp.png" alt="">
        <div class="project-list">
            <div class="project-card">
                <h3>Algoritma dan Pemrograman</h3>
                <p class="p1">Sistem Infomasi Hotel, di Project ini saya membuat Sistem yang berfokus pada reservasi hotel secara offline 
                    yang berbasis cli dengan tampilan terbatas
                </p>
                <a href="https://github.com/Rezi14/My-Project" class="project-link">Lihat Repository Github</a>
            </div>
            <div class="project-card">
                <h3>Pemrograman Berorientasi Objek</h3>
                <p class="p1">Pada Project ini saya mengembangkan aplikasi dari project sebelumnya dengan 
                    menambahkan beberapa fitur dan tampilan yang lebih baik menggunakan C#</p>
                <a href="https://github.com/Rezi14/Project-Akhir-PBO" class="project-link">Lihat Repository Github</a>
            </div>
            <div class="project-card">
                <h3>NginapKuy</h3>
                <p>Saya mencoba membuat website dari Project sebelumnya menggunakan framework Laravel.
                    Penambahan fitur seperti pelanggan dapat booking secara online. Projek ini belum selesai.
                </p>
                <a href="https://github.com/Rezi14/NginapKuy" class="project-link">Lihat Repository Github</a>
            </div>
        </div>
        <a href="/view/contact.html" class="contact-btn">Contact Me</a>
    </section>
    <footer class="footer"></footer>
</body>
</html>